<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="/js/login.js"></script>
<html>

<head>
    <%- include('../partials/head/head.ejs') %>
</head>

<body>
    <%- include('../partials/top/nav.ejs') %>

        <form id="form-login">
            <div class="content" style="height: 400px;">
                <div class="text-postion">
                    <label for="user-id" class="label-font-setting">社員番号</label>
                    <div class="col-sm-9 row-position">
                        <input type="text" id="user-id" name="user_id" value="" class="form-control input-width">
                    </div>
                </div>

                <div class="text-postion" style="margin-top:-15px;">
                    <label for="user-pw" class="label-font-setting">パスワード</label>
                    <div class="col-sm-9 row-position">
                        <input type="password" id="user-pw" name="user_pw" value="" class="form-control input-width">
                    </div>
                </div>

                <div class="form-group" style="text-align: center; margin-top: 20px;">
                    <button type="button" id="login" class='btn btn-primary'>ログイン</button>
                </div>
            </div>
        </form>
</body>

</html>