<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<html>

<head>
  <%- include('../partials/NewFormHead.ejs') %>
</head>
<header>
  <h1>
    本人確認書類提出
  </h1>
</header>

<body>
  <div class="comform-wrap">
    <h2>新規申し込み</h2>
    <form action="/identify" id="upload-file" enctype="multipart/form-data" accept='image/jpg, image/png, image/jpeg'
      method="post">
      <div class="form-group row group-position" style="margin-top:10px; width:93%;">
        <h3>連絡事項</h3>
        <label for="memo" style="font-size:13px; margin: 27px 0px 0px -80px;">協会への連絡事項</label>
      </div>

      <!-- <div style="float:left;">
        <h2>ファイルのアップロード</h2>
        <img src="/img/HP用_本人確認書類一覧-05.png" alt="本人確認書類一覧−1" class="img-upload-msg">
        <img src="/img/HP用_本人確認書類一覧-02.png" alt="本人確認書類一覧−2" class="img-upload-msg">
        <img src="/img/HP用_本人確認書類一覧-06.png" alt="本人確認書類一覧−3" class="img-upload-msg">
        <img src="/img/HP用_本人確認書類一覧-04.png" alt="本人確認書類一覧−4" class="img-upload-msg">
        <img src="/img/identify06.png" alt="本人確認書類一覧−5" class="img-upload-msg">
      </div> -->

      <div id="img" class="imgs_warp">
        <div style="margin-top:15px; text-align: center;">
          <p class="upload-msg" style="margin-top:10px;">
            <span class="upload-msg-span">●5MB までのファイルがアップロード可能です。</span>
          </p>
          <p class="upload-msg">
            <span class="upload-msg-span">●画像は一枚ずつアップロードしてください。</span>
          </p>
          <p class="upload-msg">
            <span class="upload-msg-span">●画像は複数枚アップロードできます。</span>
          </p>
          <p class="upload-msg">
            <span class="upload-msg-span">●上記に表示された画像のみアップロードされます。</span>
          </p>
          <p class="upload-msg">
            <span class="upload-msg-span">●jpg・jpeg・png・gif・jfif・heic・pdf のみアップロードが可能です。</span>
          </p>
        </div>

        <div class="comform-container">
          <div class="comform-row">
            <div class="itemTitle">
              本人確認書類
              <span class="req-mark">必須</span>
            </div>
            <div class="itemInput" id="div_attachment">
              <input type="file" name="attachment" id="attachment" class="file-style" style="display: none;"
                accept="image/heic,image/*,.pdf">
            </div>
          </div>
        </div>
      </div>
      <div class="comform-wrap" style="text-align: center; margin-top:70px;height: 74px;">
        <button type="button" class="img-btn img-btn--raised" id="add-file">ファイル追加</button>
        <button type="button" class="btn btn-primary img-btn--raised" id="add-done"
          style="background:#ff4081;border-color:#ff4081;">アップロード</button>
      </div>
    </form>
  </div>
</body>

<footer>
  2021 Japan Liberalization Business Association
</footer>

</html>