<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<html>

<head>
    <%- include('../partials/head/head.ejs') %>
</head>

<body>
    <div class="content">
        <%= obj_a_error %>
    </div>
</body>

</html>